<!-- #AUTHORS:

#Gabriel Lizano Alvarado
#Edwin Lobo Sánchez 
#Ruben Pereira Ugalde
#Luis Guillermo Ramírez Díaz -->

{% extends "base.html" %}
{% block title %} Page not Found! {%endblock title%}

{% block sidenav %}
	<a href="/">Home</a>
{% endblock sidenav %}

{% block content %}
	<h1>Requested page not found</h1>
{% endblock content %}