<!-- #AUTHORS:

#Gabriel Lizano Alvarado
#Edwin Lobo Sánchez 
#Ruben Pereira Ugalde
#Luis Guillermo Ramírez Díaz -->

{% extends "base.html" %}
{%block title%} Deduction's record {%endblock title%}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
    <div class ="table-wrapper-scroll-y">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th colspan="4" align="center">Deduction's record</th>
                <tr>
            </thead>
            <tr>
                <th scope="col" align="center">Id</td>
                <th scope="col">Formula</td>
                <th scope="col">Resolve Type</td>
                <th scope="col">Created</td>
            </tr>
            <tbody id="row">
                {% for data in deductions %}
                <tr>
                    <th align="center" id="{{data.id}}">{{data.id}}</th>
                    <td id="{{data.id}}">{{data.formula}}</td>
                    <td id="{{data.id}}">{{data.resolve_type}}</td>
                    <td id="{{data.id}}">{{data.created}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" align="center">End</th>
                <tr>
            </tfoot>
        </table>
        </div></br>
        {% csrf_token %}
        <div id= "progressbar" class="progress">
            <div id="prog" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                We are proccesing your request. Just wait a few seconds.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="chart_head" class="text-center"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <div id="chart_div" style="margin-bottom: 50px"></div>
</div>
{% endblock content %}

{% block javascript %}
    <script>
        $("#row").click(function (e) {
            var id = e.target.id;
            $('#progressbar').show()
            $('#chart_head').hide()
            $('#chart_div').hide()
            $.ajax({
                url: 'ajax/request_all_tree',
                type: 'POST',
                data: {
                    'formula_id' : id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $('#progressbar').hide()
                        drawChart(data);
                        $('#chart_head').show()
                        $('#chart_div').show()
                    }
                },
                error: function(){
                    alert("Something is wrong....")
                }

            });
        });
    </script>
{% endblock javascript %}

