<!-- #AUTHORS:

#Gabriel Lizano Alvarado
#Edwin Lobo Sánchez 
#Ruben Pereira Ugalde
#Luis Guillermo Ramírez Díaz -->

{% extends "base.html" %}
{%block title%} {{title}}{%endblock title%}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td colspan = "2" align="center" >
                <button id= "but" class="btn btn-info" type="submit">Evaluate</button>
                </td>
            </tr>
            <tr id ="fail" style="display:none"> 
                <td class="alert alert-danger" role="alert" colspan = "2" align="center">
                     Syntax-Error.
                </td>
            </tr>
        </table></br>
        {% csrf_token %}
        <div id= "progressbar" class="progress">
            <div id="prog" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                We are proccesing your request. Just wait a few seconds.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="chart_head" class="text-center"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <div id="chart_div" style="margin-bottom: 50px"></div>
</div>
{% endblock content %}
{% block javascript %}
    <script>
        $("#but").click(function () {
            $('#progressbar').show()
            $('#chart_head').hide()
            $('#chart_div').hide()
            $.ajax({
                url: 'ajax/request',
                type: 'POST',
                data: {
                    'formula': $('#id_formula').val(),
                    'resolve_type' : $('#id_resolve_type').val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $('#fail').hide()
                        drawChart(data);
                        $('#progressbar').hide()
                        $('#chart_head').show()
                        $('#chart_div').show()
                    }
                },
                error: function(){
                    $('#progressbar').hide()
                    $('#fail').show()
                }

            });
        });
    </script>
{% endblock javascript %}