@charset "utf-8";
header { 
    padding: 15px 16px 18px 10px;
}

#wrapper {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 800px;  
}

body {
    background-color: #E0E0E0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}


#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #5F5F5F;
    color: #4C4C4C;
    left: 0px;
    list-style-position: inside;
    margin-left: -10px;
}

#nav li a {
    text-decoration: none;
}
#leftsidebar {
    width: 180px;
    height: 350px;
    float: left;
}

#but{
    padding: 8px 60px
}

#logo {
    padding: 10px;
}

#progressbar{
    display:none;
    height:30px;
}

#prog{
    width: 100%;
    height:30px;
}

.main{
    text-align:center;
    padding: 50px
}
.a{
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}

.table-wrapper-scroll-y {
display: block;
max-height: 350px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}


.maman {
    color: black;
    border: 1px solid #000;
    text-align: center;
}

.google-visualization-orgchart-lineleft {
    border-left: 2px solid #333!important;
}
.google-visualization-orgchart-linebottom {
    border-bottom: 2px solid #333!important;
}
.google-visualization-orgchart-lineright {
    border-right: 2px solid #333!important;
}
/*This style solves the conflict between Bootstrap and Google orgchart*/

table{
    border-collapse: separate !important;
}





